@use '@angular/material' as mat;
@use '../../../assets/style-recipes/static-skins.scss' as staticSkins;
@use '../../../assets/style-recipes/animated-skins.scss' as animatedSkins;
@use '../../../assets/style-recipes/match-effects.scss' as matchEffects;
@import '../../../styles.scss';
@include mat.core();

.flip-card-container {
    position: relative;
    perspective: 1000px;
    width: 8em;
    aspect-ratio: 1 / 1;

    .flip-card {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: transform 0.6s ease;
        border-width: 3px;
    
        mat-icon {
            width: auto;
            height: auto;
            font-size: 3em;
            opacity: 0.8;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        &.front {
            transform: rotateY(0deg);
        }
    
        &.back {
            transform: rotateY(180deg);
            border-color: mat.m2-get-color-from-palette($nardo-grey-palette, 600);
        }
    }

    &.flipped {
        .front {
            transform: rotateY(-180deg);
        }
    
        .back {
            transform: rotateY(0deg);
        }
    }

    @media screen and (min-width: $large-breakpoint) {
        width: 8.25em;

        .flip-card {
    
            mat-icon {
                font-size: 3em;
            }

            span {
                font-size: 1.15em;
            }
        }
    }

    @media screen and (min-width: $larger-breakpoint) {
        width: 8.5em;

        .flip-card {
    
            mat-icon {
                font-size: 3em;
            }

            span {
                font-size: 1.25em;
            }
        }
    }

    @media screen and (min-width: $largest-breakpoint) {
        width: 9em;

        .flip-card {
    
            mat-icon {
                font-size: 4em;
            }

            span {
                font-size: 1.50em;
            }
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        width: 5.5rem;

        .flip-card {
            // fills container
    
            mat-icon {
                width: 2.75rem;
                height: 2rem;
                font-size: 2rem;
            }
        }
    }

    @media screen and (max-width: $small-breakpoint) {
        width: 4.5rem;

        .flip-card {
            // fills container
    
            mat-icon {
                width: 2.50rem;
                height: 2rem;
                font-size: 2rem;
            }
        }
    }
}

.matched-card {
    border: 3px solid mat.m2-get-color-from-palette($mint-green-palette, 500) !important;
    color: mat.m2-get-color-from-palette($mint-green-palette, 500);
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(180deg);
    }
}