@use '@angular/material' as mat;
@import '../../../styles.scss';
@include mat.core();

.flip-card-container {
    position: relative;
    perspective: 1000px;
    width: 8em;
    height: 8em;

    .flip-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8em;
        aspect-ratio: 1 / 1;
        position: absolute;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: transform 0.6s ease;
        border-width: 3px;
    
        mat-icon {
            width: 3rem;
            height: 3rem;
            font-size: 3rem;
            opacity: 0.8;
        }
    
        &.front {
            transform: rotateY(0deg);
            background: linear-gradient(145deg, mat.m2-get-color-from-palette($nardo-grey-palette, 900) 0%, mat.m2-get-color-from-palette($nardo-grey-palette, 200));
        }
    
        &.back {
            transform: rotateY(180deg);
        }
    }

    &.flipped {
        .front {
            transform: rotateY(-180deg);
        }
    
        .back {
            transform: rotateY(0deg);
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        width: 5rem;
        height: 5rem;

        .flip-card {
            width: 5rem;
            aspect-ratio: 1 / 1;
    
            mat-icon {
                width: 2rem;
                height: 2rem;
                font-size: 2rem;
            }
        }
    }

    @media screen and (max-width: $small-breakpoint) {
        width: 4rem;
        height: 4rem;

        .flip-card {
            width: 4rem;
            aspect-ratio: 1 / 1;
    
            mat-icon {
                width: 2rem;
                height: 2rem;
                font-size: 2rem;
            }
        }
    }
}

.matched-card {
    border: 1px solid mat.m2-get-color-from-palette($mint-green-palette, 500);
    color: mat.m2-get-color-from-palette($mint-green-palette, 500);
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(180deg);
    }
}