<div class="flip-card-container" [class.flipped]="flipped">
    <mat-card 
        class="flip-card front"
        [appearance]="'outlined'"
        [ngClass]="{'flip-card-over': flipped, 'flip-card-back': !flipped}"
        >
    </mat-card>
    <mat-card 
        class="flip-card back"
        [appearance]="'outlined'"
        [ngClass]="{'flip-card-over': flipped, 'flip-card-back': !flipped, 'matched-card': matched}"
        [ngStyle]="{'border-color': color}"
        >
        <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
        <span *ngIf="displayText" [ngStyle]="{'color': color}">{{ displayText }}</span>
    </mat-card>
</div>
