<div class="news-container">
    <div class="header-row">
        <h1>Mat Flip News</h1>
        <button mat-icon-button color="primary" (click)="closeDialog()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <h2 class="key-purple">Coming Soon!</h2>
    <p>User Accounts:</p>
    <ul>
        <li>Save game stats</li>
        <li>Level up and earn prizes</li>
        <li>Share profile info</li>
    </ul>
    <h2 class="key-purple">Recent Changes:</h2>
    <p>v0.1.0</p>
    <ul>
        <li>Base game with UI only</li>
        <li>Game modes added: Pairs & Solution</li>
    </ul>
</div>
