.game-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    height: 90vh;
    width: 100%;
    max-width: 212px;

    button {
        margin-bottom: 1rem;
    }

    h1 {
        margin-bottom: 1rem;
    }

    h2 {
        margin-bottom: 0;
        margin-top: 0;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    mat-icon {
        margin: 0;
    }
}
