<div class="how-to-container">
    <div class="header-row">
        <h1>Mat Flip</h1>
        <button mat-icon-button color="primary" (click)="closeDialog()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <p>Challenge your memory and/or math skills!</p>
    <h2>How to Play:</h2>
    <ol>
        <li>Select a game mode</li>
        <li>Select a difficulty level</li>
        <li>Select <span class="key-purple">Start Game</span> when ready!</li>
    </ol>
    <h3>Game Modes:</h3>
    <ul>
        <li><p><span class="key-important">Pairs:</span> select cards to find matching pairs before time runs out!</p></li>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    View difficulty information
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    Easy:
                    <ul>
                        <li>5 pairs to match</li>
                        <li>30 seconds to find all pairs</li>
                    </ul>
                    Medium:
                    <ul>
                        <li>6 pairs to match</li>
                        <li>40 seconds to find all pairs</li>
                    </ul>
                    Hard:
                    <ul>
                        <li>8 pairs to match</li>
                        <li>50 seconds to find all pairs</li>
                    </ul>
                    Expert:
                    <ul>
                        <li>10 pairs to match</li>
                        <li>60 seconds to find all pairs</li>
                    </ul>
                    Mastery:
                    <ul>
                        <li>12 pairs to match</li>
                        <li>60 seconds to find all pairs</li>
                    </ul>
                </ng-template>
            </mat-expansion-panel>
        <li><p><span class="key-important">Solution:</span> memorize displayed answers shown for a brief period before they flip (5 seconds). Once they flip over, you must solve a math problem, recall the location of the correct answer, and select it before time runs out. Get as many solutions as you can before you run out of allowed fails!</p></li>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                View difficulty information
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                Easy:
                <ul>
                    <li>4 fails allowed</li>
                    <li>20 seconds to solve problems</li>
                    <li>Add & subtraction only</li>
                    <li>No negative digits</li>
                </ul>
                Medium:
                <ul>
                    <li>4 fails allowed</li>
                    <li>20 seconds to solve problems</li>
                    <li>Add & subtraction only</li>
                    <li>Negative digits enabled</li>
                </ul>
                Hard:
                <ul>
                    <li>3 fails allowed</li>
                    <li>15 seconds to solve problems</li>
                    <li>Add, subtraction, multiplication, division</li>
                    <li>Negative digits enabled</li>
                </ul>
                Expert:
                <ul>
                    <li>3 fails allowed</li>
                    <li>10 seconds to solve problems</li>
                    <li>Add, subtraction, multiplication, division</li>
                    <li>Negative digits enabled</li>
                </ul>
            </ng-template>
        </mat-expansion-panel>
    </ul>
    <button mat-raised-button color="accent" (click)="closeDialog()">Got it!</button>
</div>
