@use '@angular/material' as mat;
@import '../styles.scss';
@include mat.core();

.spacer {
    flex: 1 1 auto;
}

/* Add black bottom border to mat-toolbar */
:host ::ng-deep mat-toolbar {
    border-bottom: 1px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
