@use '@angular/material' as mat;
@use '../styles.scss';
@include mat.core();

.spacer {
    flex: 1 1 auto;
}

mat-drawer {
    h1 {
        margin: 0.5rem 1rem;
    }

    .matflip-menu-btn {
        width: 100%;
        padding: 1rem;
        border-top: 1px solid #512da8;
        border-bottom: 1px solid #512da8;
        border-left: none;
        border-right: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 1rem;
        text-align: left;
        display: flex;
        align-items: center;
        mat-icon {
            margin-right: 0.5rem;
        }
    }
    .matflip-menu-btn:hover {
        background-color: rgba(81, 45, 168, 0.8);
        color: #fff;
        transition: ease-in-out 0.3s;
    }

    .sign-in-zone {
        margin: 0.5rem 1rem;
    }
}

/* Add black bottom border to mat-toolbar */
:host ::ng-deep mat-toolbar {
    border-bottom: 1px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

:host {
  @include mat.sidenav-overrides((
    container-width: 275px
  ));
}
