<div class="game-status">
    <h1 *ngIf="data.success" class="tc success">Great Job!</h1>
    <p *ngIf="data.success" class="tc">You found all the pairs in time!</p>
    <h1 *ngIf="!data.success" class="tc fail">Oh No!</h1>
    <p *ngIf="!data.success" class="tc">Time ran out before all pairs were found!</p>
    <p *ngIf="data.pairsFound && data.totalPairs">Pairs: {{ data.pairsFound }}/{{ data.totalPairs }}</p>
    <p *ngIf="data.flipCount">Flips: {{ data.flipCount }}</p>
    <p *ngIf="data.streak">Flips: {{ data.streak }}</p>
    <p *ngIf="data.totalTime && data.timeRemaining">Time taken: {{ data.totalTime - data.timeRemaining }} seconds</p>
    <p *ngIf="data.difficulty">Difficulty: {{ data.difficulty | uppercase }}</p>
    <div class="button-row">
        <button mat-raised-button color="accent" (click)="playAgain()">Play Again</button>
        <button mat-raised-button color="primary" (click)="mainMenu()">Main Menu</button>
    </div>
</div>
