@use '@angular/material' as mat;
@use '../../../../styles.scss' as baseStyles;
@include mat.core();

:host {
  @include mat.icon-overrides((
    color: #0da75a,
  ));
}

.game-status {
    padding: 1rem 2rem;
}

h1 {
    margin: 0 auto;
}

.success {
    color: mat.m2-get-color-from-palette(baseStyles.$portfolio-ui-accent, 500);
}

.fail {
    color: mat.m2-get-color-from-palette(baseStyles.$portfolio-ui-warn, 500);
}

.tc {
    text-align: center;
}

.status-row {
    width: 100%;
    span {
        display: inline-block;
        margin-right: 1rem;
    }
}

.row {
    display: flex;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    // for the first button only
    button:first-child {
        margin-right: 1rem;
    }
    
}
