@use '@angular/material' as mat;
@use '../../components/flip-card/flip-card.component.scss' as flipCard;
@use '../../../assets/style-recipes/static-skins.scss';
@import '../../../styles.scss';
@include mat.core();

.customize-container {
    min-height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    padding: 0.5rem;
    margin-bottom: 4rem;

    .current-selects {
        border: 2px solid black;
        border-radius: 8px;
        padding: 1rem;

        h3 {
            span {
                color: mat.m2-get-color-from-palette($lavender-palette, 400);
            }
        }
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .preview-large {
        width: 2rem;
        height: 2rem;
        
    }
    // steal flip card container bits and styles to mimic look and feel
    .flip-card-container {
        max-width: 7rem !important;
        @extend .flip-card-container !optional;
    }

    .current-selects-container {
        padding: 0 .5rem;
        
    }

    .square-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(7rem, 4fr));
        gap: 1rem;
        justify-items: center;
        margin-top: 1rem;
        .flip-card-container {
            cursor: pointer;
        }
    }

    .selected {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: mat.m2-get-color-from-palette($mint-green-palette, 900);
        border-radius: 50%;
        width: 2rem !important;
        height: 2rem !important;
        font-size: 2rem !important;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        padding: 0.5rem 1rem;
        .square-grid {
            grid-template-columns: repeat(auto-fill, minmax(5.5rem, 4fr));
            gap: 0.5rem;
        }
        .selected {
            width: 1.75rem !important;
            height: 1.75rem !important;
            font-size: 1.75rem !important;
        }
    }
}

.inventory-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 0.5rem;
    min-height: 50px;
    margin-bottom: 0.5rem;

    .selected {
        position: relative !important;
        background-color: mat.m2-get-color-from-palette($mint-green-palette, 900);
        border-radius: 50%; 
        width: 2rem !important;
        height: 2rem !important;
        font-size: 2rem !important;
    }
}