@use '@angular/material' as mat;
@import '../../../styles.scss';
@include mat.core();

:host {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    mat-spinner {
        margin: 0 auto;
    }

    @include mat.progress-spinner-overrides((
        active-indicator-color: mat.m2-get-color-from-palette($lavender-palette, 500),
    ));
}
